# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
ENV/
.venv/
.env/

# VSCode veya IDE dosyaları
.vscode/
.idea/

# Sistem dosyaları
.DS_Store
Thumbs.db

# Diğer
*.log
